body {
    background-color: blanchedalmond;
}

div.welcome {
    text-align: center;
}

div.image-container {
    text-align: center;
}

div#welcome-text {
    font-size: 3rem;
    color: darkolivegreen;
    font-weight: bold;
    padding-bottom: 2.5%;
}

div#welcome-quote {
    font-size: 2rem;
    color: #888888;
    font-style: italic;
    padding-bottom: 1.5%;
}

div.page-text {
    font-size: 1.2rem;
    text-align: justify;
}

div.page-text p{
    padding-bottom: 1.2rem;
}

#trex-image {
    width: 95%;
    padding-bottom: 8%;
}

div#order-title {
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: 1.5%;
}

.form-group {
    padding-bottom: 0.75rem;
}

#price {
    margin-left: 5%;
}

#weather-widget {
    font-size: 1.1rem;
    background-color: burlywood;
    padding: 4.35rem 0.75% 0%;
}

.select-button {
    text-align: right;
}

.left-column {
    text-align: left;
}

.middle-column {
    text-align: center;
}

.right-column {
    text-align: right;
}

.navbar {
    background-color: #ffd7b5 !important;
    position: fixed !important;
    width: 100%; 
}

#about-table {
    margin-top: 3%;
}

#about-table-title {
    margin-top: 3.5%;
    color: darkolivegreen;
}