body {
    background-color: blanchedalmond;
}

div.welcome {
    text-align: center;
}

div.image-container {
    text-align: center;
}

div#welcome-text {
    font-size: 3rem;
    color: darkolivegreen;
    font-weight: bold;
    padding-bottom: 2.5%;
}

div#welcome-quote {
    font-size: 2rem;
    color: #888888;
    font-style: italic;
    padding-bottom: 1.5%;
}

div.page-text {
    font-size: 1.2rem;
    text-align: justify;
}

div.page-text p{
    padding-bottom: 1.2rem;
}

#trex-image {
    width: 95%;
    padding-bottom: 8%;
}

div#order-title {
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: 1.5%;
}

.form-group {
    padding-bottom: 0.75rem;
}

#price {
    margin-left: 5%;
}

.weather-offer-row {
    background-color: burlywood;
}

.offer-text {
    font-size: 1.3rem;
    padding-top: 1rem;
}

.offer-text-select {
    font-size: 1.3rem;
    padding-top: 0.5rem;
}

#select-day-label {
    display: block;
}

.select-button {
    text-align: right;
}